<!DOCTYPE html>
<html lang="en" class="light-style layout-wide customizer-hide" dir="ltr" data-theme="theme-default"
      data-assets-path="/kinocms_user/vuexy/assets/" data-template="vertical-menu-template" data-style="light">
<head>
    <meta charset="utf-8">
    <title>kinocms</title>
    <th:block th:replace="blocks/links::linksAuth"></th:block>
    <style>
        .alertMy {
            position: absolute;
            top: 45px;
            z-index: 1000;
            width: 40%;
            display: flex;
            justify-content: center;
            align-content: center;
        }

        .alert-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000;
        }

    </style>
</head>
<body>
<!-- Content -->
<div class="container-xxl">
    <div class="alert-wrapper">
        <div class="alert alert-danger alertMy" role="alert" th:if="${existEmail}" th:text="${existEmail}"></div>
    </div>

    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-6">
            <!-- Register Card -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center mb-6">
                        <a href="index.html" class="app-brand-link">
              <span class="app-brand-logo demo">
<svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd"
        d="M0.00172773 0V6.85398C0.00172773 6.85398 -0.133178 9.01207 1.98092 10.8388L13.6912 21.9964L19.7809 21.9181L18.8042 9.88248L16.4951 7.17289L9.23799 0H0.00172773Z"
        fill="#7367F0"></path>
  <path opacity="0.06" fill-rule="evenodd" clip-rule="evenodd"
        d="M7.69824 16.4364L12.5199 3.23696L16.5541 7.25596L7.69824 16.4364Z" fill="#161616"></path>
  <path opacity="0.06" fill-rule="evenodd" clip-rule="evenodd"
        d="M8.07751 15.9175L13.9419 4.63989L16.5849 7.28475L8.07751 15.9175Z" fill="#161616"></path>
  <path fill-rule="evenodd" clip-rule="evenodd"
        d="M7.77295 16.3566L23.6563 0H32V6.88383C32 6.88383 31.8262 9.17836 30.6591 10.4057L19.7824 22H13.6938L7.77295 16.3566Z"
        fill="#7367F0"></path>
</svg>
</span>
                            <span class="app-brand-text demo text-heading fw-bold pb-2">Page of register</span>
                        </a>
                    </div>
                    <!-- /Logo -->
                    <form th:action="@{/user/add}"
                          id="formAuthentication" method="POST" th:object="${user}">
                        <div>
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="name"
                                   placeholder="Enter your username" autofocus="" th:field="*{name}">
                            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                               class="alert alert-danger mt-2"></p>
                        </div>
                        <div>
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control" id="email" name="email"
                                   placeholder="Enter your email" th:field="*{email}">
                            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                               class="alert alert-danger mt-2"></p>
                        </div>
                        <div>
                            <label class="form-label" for="password">Password</label>
                            <div class="input-group">
                                <input type="password" id="password" class="form-control" name="password"
                                       placeholder="············" th:field="*{password}">
                            </div>
                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                               class="alert alert-danger mt-2"></p>
                        </div>
                        <button class="btn btn-primary d-grid w-100 waves-effect waves-light mt-3" type="submit">
                            Sign up
                        </button>
                    </form>
                    <p class="text-center">
                        <span>Already have an account?</span>
                        <a href="/kinocms_user/login">
                            <span>Sign in instead</span>
                        </a>
                    </p>
                </div>
            </div>
            <!-- Register Card -->
            <input type="hidden" th:value="${existEmail}" id="existEmail_">
            <!-- Modal -->
            <div class="modal fade" id="messageError_" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                        </div>
                        <div class="modal-body">
                            <p th:text="${existEmail}"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Modal -->
        </div>
    </div>
</div>
<!-- / Content -->
</body>
</html>