.borderRadiusMy {
    border-radius: 0 5px 5px 0;
}

.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    max-height: 150px;
    width: 48%;
}

.borderMy li {
    border: 0;
}

.list-group-item {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    padding: 10px 15px;
}

.list-group-item:hover {
    cursor: pointer;
    background-color: #f8f7fa;
    color: #5d596c;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 1.2);
}

.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    background-color: #333 !important;
    border-radius: 50% !important;
    margin: 0 5px !important;
    border: none !important;
}

.carousel-indicators .active {
    background-color: #fff !important;
    width: 12px !important;
    height: 12px !important;
    border-radius: 50% !important;
    border: none !important;
}