<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk">
<head>
    <title>kinocms</title>
    <th:block th:replace="blocks/links::links"/>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu">

    <!-- Layout container -->
    <div class="layout-container">

        <!-- Navbar -->
        <div th:insert="~{blocks/navbar::navbar}"></div>
        <!--/ Navbar -->
        <!-- Navbar -->
        <div th:insert="~{blocks/navbar2::navbar2}"></div>
        <!--/ Navbar -->

        <!-- Layout page -->
        <div class="layout-page">
            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl d-flex align-items-stretch flex-grow-1 p-0">
                    <div class="flex-shrink-1 flex-grow-1 container-p-x container-p-y">
                        <h4 class="text-center">Сторінка користувача</h4>
                        <div class="row mb-3">
                            <div class="col-6">
                                <label class="form-label" for="name_">Ім'я</label>
                                <input class="form-control" type="text" id="name_" placeholder="dmytro">
                            </div>
                            <div class="col-6">
                                <label class="form-label">Мова</label>
                                <div class="row row-cols-2" style="margin-left: 1px;">
                                    <div class="form-check mt-3">
                                        <input name="languageRadio" class="form-check-input" type="radio" value=""
                                               id="ukraine_" checked/>
                                        <label class="form-check-label" for="ukraine_">
                                            Український
                                        </label>
                                    </div>
                                    <div class="form-check mt-3">
                                        <input name="languageRadio" class="form-check-input" type="radio" value=""
                                               id="english_"/>
                                        <label class="form-check-label" for="english_">
                                            Англійський
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <label class="form-label" for="surname_">Прізвище</label>
                                <input class="form-control" type="text" id="surname_" placeholder="manchester">
                            </div>
                            <div class="col-6">
                                <label class="form-label">Стать</label>
                                <div class="row row-cols-2" style="margin-left: 1px;">
                                    <div class="form-check mt-3">
                                        <input name="stateRadio" class="form-check-input" type="radio" value="man"
                                               id="man_" checked/>
                                        <label class="form-check-label" for="man_">
                                            Чоловік
                                        </label>
                                    </div>
                                    <div class="form-check mt-3">
                                        <input name="stateRadio" class="form-check-input" type="radio" value="woman"
                                               id="woman_"/>
                                        <label class="form-check-label" for="woman_">
                                            Жінка
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <label class="form-label" for="nickname_">Псевдонім</label>
                                <input class="form-control" type="text" id="nickname_" placeholder="manchester007">
                            </div>
                            <div class="col-6">
                                <label class="form-label" for="phone_">Телефон</label>
                                <input class="form-control" type="text" id="phone_" placeholder="+38 (067) 123-45-67">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <label class="form-label" for="email_">Email</label>
                                <input class="form-control" type="text" id="email_" placeholder="manchester007@gmail.com">
                            </div>
                            <div class="col-6 mb-3">
                                <label for="birthday_" class="form-label">Basic</label>
                                <input type="text" id="birthday_" placeholder="DD.MM.YYYY"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <label class="form-label" for="address_">Адреса</label>
                                <input class="form-control" type="text" id="address_" placeholder="striyskiy 2/2b">
                            </div>
                            <div class="col-6 mb-3">
                                <label for="city_" class="form-label">Місто</label>
                                <select class="form-select" aria-label="Default select example" id="city_">
                                    <option selected>Місто</option>
                                    <option value="kyiv">Київ</option>
                                    <option value="lviv">Львів</option>
                                    <option value="rivne">Рівне</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <label class="form-label" for="password_">Пароль</label>
                                <input class="form-control" type="text" id="password_" placeholder="********">
                            </div>
                            <div class="col-6">
                                <label class="form-label" for="passwordRepeat_">Повторити пароль</label>
                                <input class="form-control" type="text" id="passwordRepeat_" placeholder="********">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <label class="form-label" for="card_">Номер карти</label>
                                <input class="form-control" type="text" id="card_" placeholder="1234 5678 9012 3456">
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-secondary" id="saveUser_" style="width: 20%;">Зберегти</button>
                        </div>
                        <input type="hidden" id="id_">
                    </div>
                </div>
                <!--/ Content -->
            </div>
            <!--/ Content wrapper -->
        </div>
        <!--/ Layout page -->

        <!-- Footer -->
        <footer class="content-footer footer bg-footer-theme"
                style="border-top: solid 1px #c4c4c4;padding-top: 10px;"
                th:insert="~{blocks/footer::footer}">
        </footer>
        <!--/ Footer -->
    </div>
    <!--/ Layout container -->
</div>
<!--/ Layout wrapper -->

<th:block th:insert="blocks/links::scripts"></th:block>
<script>
    const contextPath = window.location.pathname.substring(0, window.location.pathname.indexOf("/", 2));
    document.getElementById("saveUser_").addEventListener('click', function () {
        requestSaveUser();
    });

    $("#birthday_").datepicker({
        format: "dd.mm.yyyy"
    });

    function requestProfileData() {
        let request = new XMLHttpRequest();
        request.open("GET", contextPath + '/user/profile/data')
        request.send();
        request.addEventListener('load', function () {
            let data = JSON.parse(request.response);
            document.getElementById("name_").value = data.name;
            document.getElementById("nickname_").value = data.nickname;
            document.getElementById("surname_").value = data.surname;
            document.getElementById("email_").value = data.email;
            document.getElementById("phone_").value = data.phone;
            document.getElementById("birthday_").value = data.birthday;
            document.getElementById("address_").value = data.address;
            document.getElementById("card_").value = data.card;
            document.getElementById("id_").value = data.id;

            if (data.isMan === true) {
                document.getElementById("man_").checked = true;
            } else {
                document.getElementById("woman_").checked = true;
            }
        });
    }

    function getFormData() {
        let formObject = {
            id: $("#id_").val(),
            name: $("#name_").val(),
            surname: $("#surname_").val(),
            nickname: $("#nickname_").val(),
            phone: $("#phone_").val(),
            email: $("#email_").val(),
            birthday: $("#birthday_").val(),
            address: $("#address_").val(),
            card: $("#card_").val(),
            password: null,
            isMan: null
        };
        let password = $("#password_").val();
        let passwordRepeat = $("#passwordRepeat_").val();
        if (password === passwordRepeat && password !== '' && passwordRepeat !== '') {
            formObject.password = password;
        }
        let radioState = document.querySelector('input[name="stateRadio"]:checked');
        if (radioState) {
            formObject.isMan = radioState.value === 'man';
        }
        return formObject;
    }

    function requestSaveUser() {
        let formData = getFormData();
        $.ajax({
            type: "post",
            url: contextPath + "/user/edit",
            data: JSON.stringify(formData),
            contentType: "application/json",
            success: function () {
                window.location.replace(contextPath + "/user/profile");
            },
            error: function (error) {
                console.log("Error submitting form:", error);
            }
        });
    }

    window.addEventListener('load', function () {
        requestPagesMenu();
        requestPageOfMain();
        requestProfileData();
    });
</script>
</body>
</html>