<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk">
<head>
    <title>kinocms</title>

    <th:block th:replace="blocks/links::links"/>
    <link rel="stylesheet" href="/vuexy/assets/vendor/libs/select2/select2.css"/>
    <link rel="stylesheet" href="/style/icons.css"/>
    <link rel="stylesheet" href="/styles.css"/>

    <style>
        .table th,td {
            text-align: center;
        }
        .buyMy:hover{
            color: red !important;
        }
    </style>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu">

    <!-- Layout container -->
    <div class="layout-container">

        <!-- Navbar -->
        <div th:insert="~{blocks/navbar::navbar}"></div>
        <!--/ Navbar -->
        <!-- Navbar -->
        <div th:insert="~{blocks/navbar2::navbar2}"></div>
        <!--/ Navbar -->

        <!-- Layout page -->
        <div class="layout-page">
            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl d-flex align-items-stretch flex-grow-1 p-0">
                    <div class="flex-shrink-1 flex-grow-1 container-p-x container-p-y">
                        <div class="row mt-3">
                            <label class="col-2 text-end">Показувати тільки:</label>
                            <div class="col-sm-auto d-flex align-items-center">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkbox_3D"/>
                                    <label class="form-check-label badge rounded-pill bg-primary" for="checkbox_3D"
                                           style="height: 22px;background-color: rebeccapurple !important;">3D</label>
                                </div>
                            </div>
                            <div class="col-sm-auto d-flex align-items-center">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkbox_DBOX"/>
                                    <label class="form-check-label badge rounded-pill bg-primary" for="checkbox_DBOX"
                                           style="height: 22px;background-color: deepskyblue !important;">DBOX</label>
                                </div>
                            </div>
                            <div class="col-sm-auto d-flex align-items-center">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkbox_VIP"/>
                                    <label class="form-check-label badge rounded-pill bg-primary" for="checkbox_VIP"
                                           style="height: 22px;background-color: red !important;">VIP</label>
                                </div>
                            </div>
                            <div class="col-sm-auto d-flex align-items-center">
                                <select id="select-cinema" class="form-select form-select-sm">
                                    <option value="0">Кінотеатр</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="3">4</option>
                                </select>
                            </div>
                            <div class="col-sm-auto d-flex align-items-center">
                                <select id="select-date" class="form-select form-select-sm">
                                    <option value="0">Дата</option>
                                    <option value="1">1 Вересня</option>
                                    <option value="2">2 Вересня</option>
                                    <option value="3">3 Вересня</option>
                                    <option value="4">4 Вересня</option>
                                </select>
                            </div>
                            <div class="col-sm-auto d-flex align-items-center">
                                <select id="select-film" class="form-select form-select-sm">
                                    <option value="0">Фільм: всі</option>
                                    <option value="1">Людина павук</option>
                                    <option value="forsazh">Форсаж</option>
                                    <option value="thesouleater">Пожирач душ</option>
                                    <option value="classmates">Однокласники</option>
                                </select>
                            </div>
                            <div class="col-sm-auto d-flex align-items-center">
                                <select id="defaultSelect" class="form-select form-select-sm">
                                    <option value="0">Зал</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-2"></div>
                            <div class="col-6">
                                <span>1 вересня</span>
                                <div class="table-responsive" style="border:solid 2px #b7b6c4">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Час</th>
                                            <th>Фільм</th>
                                            <th>Зал</th>
                                            <th>Ціна в грн.</th>
                                            <th style="color: red;">Бронювати</th>
                                        </tr>
                                        </thead>
                                        <tbody class="table-border-bottom-0">
                                        <tr th:each="film:${filmsToday}">
                                            <td th:text="${film.getTime()}"></td>
                                            <td th:text="${film.getTitle()}"></td>
                                            <td>1</td>
                                            <td>145</td>
                                            <td>
                                                <a class="buyMy" th:href="@{/user/movie/{id}/buy (id=${film.getId()})}" style="color: black">
                                                    <i class="ti ti-premium-rights"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-4">
                                <img src="https://koblevo-info.com/wp-content/uploads/2021/07/gde-est-otdelenie-novoj-pochty-v-koblevo.jpg"
                                alt="error" style="width: 100%; height: 500px;">
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ Content -->

                <!-- Footer -->
                <footer class="content-footer footer bg-footer-theme"
                        style="border-top: solid 1px #c4c4c4;padding-top: 10px;"
                        th:insert="~{blocks/footer::footer}">
                </footer>
                <!--/ Footer -->

            </div>
            <!--/ Content wrapper -->
        </div>
        <!--/ Layout page -->
    </div>
    <!--/ Layout container -->
</div>
<!--/ Layout wrapper -->

<th:block th:insert="blocks/links::scripts"></th:block>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/vuexy/assets/vendor/libs/select2/select2.js"></script>
<script src="/script.js"></script>

<script>
    window.addEventListener('DOMContentLoaded',function (){
        requestPagesMenu();
        requestPageOfMain();
        if(window.location.pathname === '/user/timetable'){
            let elementBtn = document.getElementById("btnTimetable_");
            elementBtn.classList.add('active');
        }
    });
</script>
</body>
</html>