<div th:fragment="footer" class="container-xxl">
    <div class="row">
        <div class="col-3" style="padding-top: 9.1px;">
            <h5>Мобільна програма</h5>
            <div class="image-container">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTKM3ZIW9ButXhwHvQh2-OT8GauA9_Njaq5Q08P9qVw2pTHwitzSzoCWFwGXpUeAwcSQ&amp;usqp=CAU"
                     alt="error" onclick="followSite('https://play.google.com/store/games?hl=uk')"
                     style="cursor:pointer;">
                <img src="https://www.gov.br/pt-br/imagens-de-servicos/apple.png"
                     alt="error" onclick="followSite('https://www.apple.com/app-store/')"
                     style="cursor:pointer;">
            </div>
            <p style="font-size: smaller;">Розробка сайтов: AVADA-MEDIA</p>
        </div>
        <div class="col-2">
            <ul class="list-group borderMy">
                <li class="list-group-item" style="font-size: large;border:0;">
                    <a class="text-black" th:href="@{/user/poster}">
                        Афіша
                    </a>
                </li>
                <li class="list-group-item">
                    <a class="text-black" th:href="@{/user/timetable}">
                        Розклад
                    </a>
                </li>
                <li class="list-group-item">
                    <a class="text-black" th:href="@{/user/soon}">
                        Скоро в прокаті
                    </a>
                </li>
                <li class="list-group-item">
                    <a class="text-black" th:href="@{/user/cinemas}">
                        Кінотеатри
                    </a>
                </li>
                <li class="list-group-item"
                    style="border-bottom-left-radius: 0;border-bottom-right-radius: 0;">
                    <a class="text-black" th:href="@{/user/shares}">
                        Акції
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-2">
            <ul class="list-group borderMy">
                <li class="list-group-item" style="font-size: large;">
                    <a class="text-black" th:href="@{/user/about-cinema}">Про кінотеатр</a>
                </li>
                <li class="list-group-item">
                    <a class="text-black" th:href="@{/user/news}">Новини</a>
                </li>
                <li class="list-group-item">
                    <a class="text-black" th:href="@{/user/advertisement}">
                        Реклама
                    </a>
                </li>
                <li class="list-group-item">
                    <a class="text-black" th:href="@{/user/caffe}">
                        Кафе-Бар
                    </a>
                </li>
                <li class="list-group-item"
                    style="border-bottom-left-radius: 0;border-bottom-right-radius: 0;">
                    <a class="text-black" th:href="@{/user/contacts}">
                        Контакти
                    </a>
                </li>
            </ul>
        </div>
        <div class="row col" style="padding-top: 9.1px">
            <a class="col d-flex justify-content-center align-items-start" href="#facebook">
                <i class="ti ti-brand-facebook iconMy" style="background-color: #1877F2;"></i>
            </a>
            <a class="col d-flex justify-content-center align-items-start" href="#twitter">
                <i class="ti ti-brand-twitter iconMy" style="background: #00acee;"></i>
            </a>
            <a class="col d-flex justify-content-center align-items-start" href="#telegram">
                <i class="ti ti-brand-telegram iconMy" style="background: #0088cc;"></i>
            </a>
            <a class="col d-flex justify-content-center align-items-start" href="#instagram">
                <i class="ti ti-brand-instagram iconMy"
                   style="background: linear-gradient(135deg, #f58529, #dd2a7b, #8134af, #515bd4);"></i>
            </a>
        </div>
    </div>
    <p class="d-flex justify-content-center">@KinoCMS 2016, All rights reserved</p>
</div>