<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="links">
    <link rel="stylesheet" href="/vuexy/assets/vendor/css/rtl/core.css"/>
    <link rel="stylesheet" href="/vuexy/assets/vendor/css/rtl/theme-default.css"/>
    <link rel="stylesheet" href="/vuexy/assets/vendor/fonts/tabler-icons.css">
</head>
<body th:fragment="scripts">
<script src="/vuexy/assets/vendor/js/helpers.js"></script>
<script src="/vuexy/assets/js/config.js"></script>
<script src="/vuexy/dist/js/bootstrap.js"></script>
</body>
</html>