<nav th:fragment="navbar" class="navbar navbar-light bg-white">
    <div class="container-fluid justify-content-center">
        <img src="https://cdn.vectorstock.com/i/500p/65/30/default-image-icon-missing-picture-page-vector-40546530.jpg"
             alt="error" style="width: 200px;height: 50px;">
        <div class="d-flex" style="margin-left: 15px;">
            <input class="form-control me-sm-2" type="search" id="inputSearch_"
                   placeholder="Пошук"/>
            <div style="margin-left: 15px;">
                <label class="form-label-lg" id="labelPhone1_">(098) 777-77-77</label>
                <label class="form-label-lg" id="labelPhone2_">(097) 777-77-77</label>
            </div>
        </div>
    </div>
</nav>