<nav th:fragment="navbar2" class="navbar navbar-light bg-white">
    <div class="container-fluid justify-content-center">
        <div class="btn-group" role="group" aria-label="Basic outlined example" style="width: 100%">
            <a href="/kinocms_user/user/poster"
               type="button" class="btn btn-outline-secondary" id="btnPosterHeader_">Афіша</a>
            <a href="/kinocms_user/user/timetable"
               type="button" class="btn btn-outline-secondary" id="btnTimetable_">Розклад</a>
            <a href="/kinocms_user/user/soon"
               type="button" class="btn btn-outline-secondary" id="btnSoonHeader_">Скоро</a>
            <a href="/kinocms_user/user/cinemas"
               type="button" class="btn btn-outline-secondary" id="btnCinemas_">Кінотеатри</a>
            <a href="/kinocms_user/user/shares"
               type="button" class="btn btn-outline-secondary" id="btnShares_">Акції</a>
            <div class="dropdown-center">
                <a href="/kinocms_user/user/about"
                   class="btn btn-outline-secondary dropdown-toggle borderRadiusMy" type="button"
                   id="dropdownMenuButton"
                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Про кінотеатр
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="pagesMenu_">
                </ul>
            </div>
            <select class="form-select" aria-label="Default select example" style="width: auto;margin-left: 10px;">
                <option value="uk">укр</option>
                <option value="en">анг</option>
            </select>
        </div>
    </div>
</nav>