<div th:fragment="sidebar">
    <div class="layout-example-sidebar layout-example-content-inner">
        <div class="d-grid gap-2">
            <a class="btn btn-outline-github" type="button" href="/kinocms_user/user/poster"
               id="btnPosterSidebar_">Афіша</a>
            <a class="btn btn-outline-github" type="button" href="/kinocms_user/user/soon" id="btnSoonSidebar_">Скоро</a>
        </div>
    </div>
    <div class="mt-5" style="width: 100%;height: 400px;">
        <img src="https://2.imimg.com/data2/IS/TN/MY-2561564/advertisement-designing-services.jpg"
             alt="error" style="width: 100%;height:100%;">
    </div>
</div>
